primary = #444
accent = #3498db

@keyframes show
  from
    opacity 0
  to
    opacity 1

@keyframes hide
  from
    opacity 1
  to
    opacity 0

.show
  animation-name show
  animation-duration .5s

.hide
  animation-name hide
  animation-duration .5s


.history
  position relative
  &__button
    margin 0
    padding 0
    margin-right 5px
    display inline-block
    width 18px
    height 18px
    background none
    border none
    outline none
    opacity .7
    cursor pointer
    &:disabled 
      opacity .3
    &:last-child
      margin-left 5px
      margin-right 0
    &:not(:disabled):hover
      opacity 1
    &--active
      opacity 1 !important
    img
      max-width 100%
      transition opacity .3s ease

  &-dialog
    position absolute
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top 20px
    left calc(100% - 18px)
    width 226px
    height 262px
    background primary
    z-index 999
    border-radius 3px
    color rgba(238, 238, 238, .9)
    box-shadow 0 4px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23)

  &__table
    width 100%
    font-size 12px
    th
      height 36px
    td, th
      &:first-child
        padding-left 10px
        text-align left
        width 40px
      &:nth-child(2)
        width 150px
        text-align left
      &:last-child
        width 34px
        padding-right 10px
        text-align right
    tbody tr
      height 20px
      cursor pointer
      &:nth-child(odd)
        background-color #505050
  &__col--active
      color accent
  &-footer
    display flex
    justify-content space-between
    align-items center
    padding 5px 10px
    font-size 12px
  &-delete
    margin 0
    padding 0
    display inline-flex
    align-items center
    border none
    outline none
    background none
    font-size 12px
    color #eee
    opacity .8
    transition opacity .3s
    cursor pointer
    &:hover
      opacity 1
    img
      width 16px
