/* http//meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License none (public domain)
*/
*
  box-sizing border-box

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
	border 0
	font-size 100%
	font inherit
	vertical-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display block

body
	line-height 1

ol, ul
	list-style none

blockquote, q
	quotes none

blockquotebefore, blockquoteafter,
qbefore, qafter
	content ''
	content none

table
	border-collapse collapse
	border-spacing 0

// other style
body
  background-color #eee
  font-family Roboto

.center
  display flex
  justify-content center

.space-between
  display flex
  justify-content space-between

.editor-page
  display grid
  grid-template-rows auto
  grid-template-columns auto
  grid-template-areas "header header" "main sidebar" "footer sidebar"
  & > header
    grid-area header
    height 60px
    width 100%
  & > main
    grid-area main
    width calc(100vw - 406px)
    height calc(100vh - 130px)
  & > aside
    grid-area sidebar
    width 405px
    height calc(100vh - 60px)
  & > footer
    grid-area footer
    width calc(100vw - 406px)
    height 60px
    background-color gray
