primary = #444444
dark = #333333

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

.modal-background
  position fixed
  left 0
  top 0
  width 100%
  height 100vh
  background-color rgba(51, 51, 51, 0.6)
  animation fadeIn .5s ease

.modal-window
  position absolute
  top 100px
  left 50%
  transform translateX(-50%)
  width 500px
  height 400px
  background-color primary
  border-radius: 3px
  overflow hidden
  &-header
    display flex
    align-items center
    justify-content space-between
    margin 0
    padding 0 10px 0 15px
    color #eeeeee
    font-size 14px
    height 30px
    line-height 30px
    width 100%
    background dark
  &-close
    margin 0
    padding 0
    background none
    outline none
    border none
    width 18px
    height 18px
    cursor pointer
    opacity .7
    transition .3s ease
    &:hover
      opacity 1
    img
      max-width 100%
  &-body
    padding 10px 15px
