.options-element-btn
  margin 0
  padding 0
  width 18px
  height 18px
  background none 
  outline none 
  border none
  cursor pointer
  opacity .7
  &:disabled 
    opacity .3
  &:not(:disabled):hover
    opacity 1
  &--active
    opacity 1 !important
  img
    max-width 100%
    transition opacity .3s ease
