primary = #333333
accent = rgba(24, 24, 24, 1)
text = rgba(238, 238, 238, .9)

.ui-unit-input-wrapper
  margin 10px
  font-family 'Roboto'
  .ui-unit-input__title
    padding-bottom 5px
    font-size 12px
    opacity 90
    font-weight 400

.ui-unit-input
  position relative
  display inline-flex
  height 36px
  font-family 'Roboto'

  .ui-unit-input__wrapper
    position relative
    height 36px
    width 58px

  .ui-unit-input__input
    padding 0 15px 0 5px
    height 36px
    width 58px
    background-color primary
    border none
    outline: none
    color text

  .ui-unit-input__arrows
    position absolute
    display flex
    flex-direction column
    justify-content space-between
    top 0
    right 0
    width 14px
    height 36px
    .ui-unit-input__arrow
      margin 0
      padding 0
      width 14px
      height 14px
      background none
      border none
      outline none
      transition transform .3s ease-out
      &:active
        transform scale(.9)
      &:first-child
        margin-top 2px
      &:last-child
        margin-bottom 2px
    img
      display inline-block
      width 14px
      height 14px
      opacity .9
      cursor pointer
  
  .ui-unit-input__unit
    display flex
    justify-content center
    align-items center
    width 28px
    height 36px
    color text
    font-size 12px
    background rgba(24, 24, 24, .7)
    cursor pointer

  .ui-unit-input__unit:hover .ui-unit-input__list
    visibility visible
    opacity 1

  .ui-unit-input__list
    position absolute
    top 100%
    right 0
    width 86px
    background rgba(24, 24, 24, .7)
    visibility hidden
    opacity 0
    transition visibility 0s, opacity .3s ease-out
    z-index 99
    li
      padding 7px 5px
      cursor pointer
      transition background .3s ease-out
    li:hover
      background accent
