primary = #444
dark = #333

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

.sidebar
  display flex
  width 406px
  height 100%
  background-color primary
  color #eee
  // panels
  .sidebar-content
    width 356px

  .sidebar-panel
    display none
    width 100%
    height auto
  
  // tabs
  .sidebar-tabs
    width 50px
    height 100%
    background-color dark
    box-shadow:
      -3px 0 6px rgba(0, 0, 0, .16),
      -3px 0 6px rgba(0, 0, 0, .23)

  .sidebar-tab
    height 50px
    width 100%
    color #fff
    cursor pointer
    transition background .5s ease-out
    overflow hidden
    span
      display block
      width 200%
      height 50px
      transform translateX(-50%)
      transition .3s ease-out

    &__icon
      display inline-flex
      justify-content center
      align-items center
      width 50px
      height 50px
    img
      opacity .9
      transition background .5s ease-out
    &--active
      background rgba(0, 0, 0, .2)
      span
        transform translateX(0)
    &:not(.sidebar-tab--active):hover
      background rgba(0, 0, 0, .2)
      span
        transform translateX(0)
      img
        opacity 1


.fadeIn
  display block !important
  animation fadeIn .5s ease-in
