primary = #333333
accent = rgba(24, 24, 24, 1)
text = rgba(238, 238, 238, .9)

.ui-select-wrapper
  display inline-block
  margin 10px
  .ui-select__title
    padding-bottom 5px
    font-size 12px
    opacity 90

.ui-select
  position relative
  height 36px
  width 120px
  color text
  background primary
  &__icon
    position: absolute
    top 0
    right 0
    display flex
    align-items center
    justify-content center
    width 18px
    height 36px
    cursor pointer
    img
      width 16px
    &:hover + .ui-select__list
      opacity 1
      visibility visible
  &__value
    padding-left 5px
    line-height 36px
    font-size 14px
  &__list
    font-size 14px
    opacity 0
    visibility hidden
    transition 0s visibility, .5s opacity
    li
      padding 6px
      background primary
      cursor pointer
      transition .5s background
      &:hover
        background accent
