primary = #444
opacity = #bbb

.color-picker
  margin 50px auto
  padding 20px
  width 300px
  height auto
  background-color primary
  border-radius 3px

.color-area
  position relative
  border-radius 3px
  background -webkit-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
            -webkit-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%)
  &__thumb
    position absolute
    border-radius 50%
    border 2px solid #ddd
    cursor pointer

.hue-slider
  position relative
  width 14px
  height 200px
  background linear-gradient(to bottom, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, #f00 100%)
  border-radius 3px
  &__thumb
    position absolute
    left 0
    border-radius 50%
    border 2px solid #fff
    background-color transparent
    cursor pointer

.opacity-slider
  position relative
  width 14px
  height 200px
  background-color white
  background-image linear-gradient(45deg, opacity 25%, transparent 25%, transparent 75%, opacity 75%, opacity), 
    linear-gradient(45deg, opacity 25%, transparent 25%, transparent 75%, opacity 75%, opacity);
  background-size 8px 8px
  background-position 0 0, 4px 4px
  border-radius 3px
  &__fill
    height 100%
    width 100%
  &__thumb
    position absolute
    left 0
    border-radius 50%
    border 2px solid #fff
    background-color transparent
    cursor pointer
