dark = #333333

.text-field
  margin-bottom 10px
  input
    padding-left 10px
    height 30px
    background dark
    border none
    outline none
    color rgba(238, 238, 238, .9)
    font-size 12px
    border-radius 3px
