primary = #444444

.header-editor
  padding: 0 15px
  display flex
  align-items: center
  width 100%
  height 60px
  background-color: primary
  z-index 999
  box-shadow:
    0 3px 6px rgba(0, 0, 0, .16),
    0 3px 6px rgba(0, 0, 0, .23)
  &-nav
    &__list
      display flex
      list-style none
    &__item
      position relative
      padding 0 10px
      color #eeeeee
      font-size 14px
      cursor pointer
      &:hover .header-editor-dropdown
        display block
      &--disabled
        opacity .3
        cursor not-allowed
  &-dropdown
    display none
    position absolute
    left 10px
    top 100%
    list-style none 
    background #333
    li
      padding 10px

