dark = #333333

.sidebar-title
  display flex
  justify-content space-between
  align-items center
  margin-bottom 15px
  padding-left 15px
  padding-right 15px
  width 100%
  height 36px
  background dark
  &__icon
    margin 0
    padding 0
    margin-left 10px
    width 18px
    height 18px
    background none
    border none
    outline none
    cursor pointer
    img
      max-width 100%
