dark = #333
text = #eee

.viewport
  background #eee
  &-header
    margin-bottom 30px
    height 36px
    width 100%
    span
      display inline-flex
      justify-content center
      align-items center
      padding 0 15px
      height 36px
      background dark
      font-size 14px
      color text
      opacity .9
  &-body
    padding-left 15px
